<div xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" th:fragment="navbar">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="/resources/img/bookshop/bookshop_logo.png" alt="Logo" width="80" height="80" class="d-inline-block align-text-top">
        </a>
        <a class="navbar-brand" href="#" th:text="#{employee.panel}"> My Employee Panel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}" th:text="#{home.nav.home}">Back to main site</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/employee-overview}" th:text="#{employee.overview}">Employee Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/order-overview}" th:text="#{order.overview}">Order Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/inventory_book}" th:text="#{inventory.title}">Inventory Overview</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
