<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{edit_user_account.title}">Edit Account</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
</head>
<body>
<div th:replace="fragments/shop_navbar :: navbar"></div>
<div class="container">
    <!-- Header for Viewing Profile -->
    <header class="text-center mb-4">
        <h1 th:text="#{account.title}">Account</h1>
    </header>

    <!-- Profile Section for Editing -->
    <div class="container panel-effect">
        <form method="post" role="form" th:object="${editUserProfilForm}" class="needs-validation" novalidate>
            <div class="card-body">
                <h3 class="border-bottom pb-2 mb-4" th:text="#{edit.account}">Editmodel Account</h3>

                <div class="form-group mb-3">
                    <label for="edit_name" th:text="#{edit.name}">First Name</label>
                    <input type="text" id="edit_name" name="edit_name" class="form-control" th:field="*{edit_name}" th:errorclass="is-invalid" required />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('edit_name')}" th:errors="*{edit_name}">
                        The Name cannot be empty.
                    </div>
                </div>

                <div class="form-group">
                    <label for="edit_last_name" th:text="#{edit.last_name}">Last Name</label>
                    <input type="text" id="edit_last_name" name="edit_last_name" class="form-control" th:field="*{edit_last_name}" th:errorclass="is-invalid" required />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('edit_last_name')}" th:errors="*{edit_last_name}">
                        The Last Name cannot be empty.
                    </div>
                </div>

                <div class="form-group">
                    <label for="edit_address" th:text="#{edit.address}">Address</label>
                    <input type="text" id="edit_address" name="edit_address" class="form-control" th:field="*{edit_address}" th:errorclass="is-invalid" required />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('edit_address')}" th:errors="*{edit_address}">
                        The Address cannot be empty.
                    </div>
                </div>

                <div class="form-group">
                    <label for="edit_password" th:text="#{edit.password}">Password</label>
                    <input type="password" id="edit_password" name="edit_password" class="form-control" th:field="*{edit_password}" th:errorclass="is-invalid" required />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('edit_password')}" th:errors="*{edit_password}">
                        Password must be at least 8 characters and one special symbol.
                    </div>
                </div>

                <div class="form-group">
                    <label for="edit_confirmPassword" th:text="#{edit.confirmPassword}">Confirm Password</label>
                    <input type="password" id="edit_confirmPassword" name="edit_confirmPassword" class="form-control" th:field="*{edit_confirmPassword}" th:errorclass="is-invalid" required />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('edit_confirmPassword')}" th:errors="*{edit_confirmPassword}">
                        Confirm Password must match the password.
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" th:text="#{edit.SaveButton}">Save Changes</button>
                <div class="text-center mt-3">
                    <a th:href="@{/account}" class="btn btn-secondary" role="button" th:text="#{edit.backButton}">Zurück</a>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
