<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{account.title}">Account</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
</head>
<body>

<div class="container mt-5">
    <!-- Header -->
    <aside class="sidebar panel-effect">
        <h2 th:text="#{account.title}">Account</h2>
        <ul class="small-nav">
            <li><button class="small-nav-tab-button" th:onclick="|location.href='@{/}'|" >Home</button></li>
        </ul>
    </aside>

    <!-- Profile Section -->
    <div class="panel-effect container">
        <div class="card-body">
            <!-- Profile Header -->
            <div class="profile-header text-center mb-4">
                <h2 class="card-title" th:text="${user.name} + ' ' + ${user.last_name}">Max Mustermann</h2>
            </div>

            <!-- Contact Information Section -->
            <h5 class="card-subtitle mb-3 text-muted" th:text="#{account.contactInfo}">Contact Information</h5>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label th:text="#{account.email}" for="email">Email</label>
                        <span id="email" th:text="${user.userAccount.username}">test@example</span>
                    </div>
                    <div class="form-group">
                        <label th:text="#{account.address}" for="address">Address</label>
                        <span id="address" th:text="${user.address}">Schillerstraße 2</span>
                    </div>
                    <div class="form-group">
                        <label th:text="#{account.birthDate}" for="birthDate">Birth Date</label>
                        <span id="birthDate" th:text="${user.birthDate}">1999-12-12</span>
                    </div>
                    <button type="button" class="btn btn-primary btn-block mt-3" onclick="window.location.href='/logout'" th:text="#{logout.Button}">Logout</button>
                    <button type="button" class="btn btn-primary btn-block mt-3" onclick="window.location.href='/account_edit'" th:text="#{edit.Button}">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript for Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
