<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Bookstore</title>
    <style>
        header {
            background-color: #333;
            padding: 1em;
        }
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .store-name {
            color: white;
            font-size: 1.5em;
        }
        .nav-links {
            list-style: none;
        }
        .nav-links a {
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>
<header>
    <nav>
        <span class="store-name">Bookstore</span>
        <ul class="nav-links">
            <li>
                <a th:href="@{/inventory}">Inventory</a>
            </li>
        </ul>
    </nav>
    <form class="ui form" method="post" th:action="@{/cart}">ä
        <button type="submit" class="ui button">zum Warenkorb</button>
    </form>
    <form class="ui form" method="post" th:action="@{/orders}">
        <button type="submit" class="ui button">zu den Bestellungen</button>
    </form>
</header>
</body>
</html>
