<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <title th:text="#{cart.tabTitle}">Warenkorb</title>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
    <title>Warenkorb</title>
</head>
<body>

    <section layout:fragment="content">
        <header>
            <h1 th:text="#{cart.title}"> Ihr Warenkorb</h1> <br>
        </header>
        <div class="container">

        <aside class="sidebar panel-effect">
                <button th:onclick="|location.href='@{/}'|" class="small-nav-tab-button" th:text="#{cart.welcome}">Zur Homepage</button>
        </aside>


            <section class="product-catalog panel-effect">
                <!--<form class="ui form" method="post" th:action="@{/cartAddExample1}">
                    <button type="submit" class="ui button">BeispielProdukt1 hinzufügen</button>
                </form>
                <form class="ui form" method="post" th:action="@{/cartAddExample2}">
                    <button type="submit" class="ui button">BeispielProdukt2 hinzufügen</button>
                </form>
                -->
            <div th:unless="${cart.empty}">
                <table class="ui celled table">
                    <thead>
                    <tr>
                        <th th:text="#{cart.table.title}">Titel</th>
                        <th th:text="#{cart.table.quantity}">Anzahl</th>
                        <th th:text="#{cart.table.price}">Preis</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each=" item : ${cart}">
                        <td th:text="${item.productName}"></td>
                        <td th:text="${item.quantity}"></td>
                        <td th:text="${item.price}"></td>
                        <td>
                            <form class="ui form" method="post" th:action="@{/cartDelete}">
                                <input type="hidden" name="productId" th:value="${item.id}"/>
                                <button type="submit" class="ui button" th:text="#{cart.delete}">Produkt entfernen</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table><br>
                <form class="ui form" method="post" th:action="@{/clear}">
                <button type="submit" class="ui button" th:text="#{cart.clear}">Warenkorb leeren</button>
            </form><br>
            <div>
                <form class="ui form" method="post" th:action="@{/checkout}">
                    <label for="dropdown_payment" th:text="#{cart.sentence.paymentMethod}">Wählen Sie eine Bezahlmethode:</label>
                    <select id="dropdown_payment" name="paymentMethod">
                        <option value="Bar" th:text="#{cart.cash}">Bar</option>
                        <option value="Rechnung" th:text="#{cart.invoice}">Rechnung</option>
                    </select>
                        <br>
                        <button type="submit" class="ui button" th:text="#{cart.buy}">Kaufen</button>
                    </form>
                </div>
            </div>
            <h2 th:if="${cart.empty}" th:text="#{cart.empty}">Warenkorb Leer</h2>
            </section>
        </div>
    </section>
    <div th:if="${error_NotEnoughStock}">
        <script>
            alert("Nicht genügend Artikel im Lager!");
        </script>
    </div>
</body>
</html>
