<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <title th:text="#{cart.tabTitle}">Warenkorb</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">    <title>Warenkorb</title>
</head>
<body>
    <div th:replace="fragments/shop_navbar :: navbar"></div>

    <section layout:fragment="content">
        <header>
            <h1 th:text="#{cart.title}"> Ihr Warenkorb</h1> <br>
        </header>
        <div class="container">

        <aside class="sidebar panel-effect">
            <ul class="small-nav">
                <li><button th:onclick="|location.href='@{/}'|" class="small-nav-tab-button" th:text="#{cart.welcome}">Zur Homepage</button></li>
                <li><button th:onclick="|location.href='@{/books}'|" class="small-nav-tab-button" th:text="#{cart.catalog}">Katalog</button></li>
            </ul>
        </aside>


            <section class="right-view panel-effect">
            <div th:unless="${cart.empty}">
                <table class="compact-table">
                    <thead>
                    <tr>
                        <th th:text="#{cart.table.title}">Titel</th>
                        <th th:text="#{cart.table.quantity}">Anzahl</th>
                        <th th:text="#{cart.table.price}">Preis</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each=" item : ${cart}">
                        <td th:text="${item.productName}"></td>
                        <td>
                            <form class="ui form" method="post" th:action="@{/cartIncrease}">
                                <input type="hidden" name="productId" th:value="${item.product.getId()}"/>
                                <button type="submit" class="ui button">+</button>
                             </form>
                            <span th:text="${item.quantity}"> </span>
                            <form class="ui form" method="post" th:action="@{/cartDecrease}">
                                <input type="hidden" name="productId" th:value="${item.product.getId()}"/>
                                <button type="submit" class="ui button">-</button>
                            </form></td></td>
                        <td th:text="${item.price}"></td>
                        <td>
                            <form class="ui form" method="post" th:action="@{/cartDelete}">
                                <input type="hidden" name="productId" th:value="${item.id}"/>
                                <button type="submit" class="ui button" th:text="#{cart.delete}">Produkt entfernen</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table><br>
                <form class="ui form" method="post" th:action="@{/clear}">
                <button type="submit" class="ui button" th:text="#{cart.clear}">Warenkorb leeren</button>
            </form><br>
            <div>
                <form class="ui form" method="post" th:action="@{/checkout}">
                    <label for="dropdown_payment" th:text="#{cart.sentence.paymentMethod}">Wählen Sie eine Bezahlmethode:</label>
                    <select id="dropdown_payment" name="paymentMethod">
                        <option value="Bar" th:text="#{cart.cash}">Bar</option>
                        <option value="Rechnung" th:text="#{cart.invoice}">Rechnung</option>
                    </select>
                        <br>
                        <button type="submit" class="ui button" th:text="#{cart.buy}">Kaufen</button>
                    </form>
                </div>
            </div>
            <h2 th:if="${cart.empty}" th:text="#{cart.empty}">Warenkorb Leer</h2>
            </section>
        </div>
    </section>
    <div th:if="${error_NotEnoughStock}">
        <script th:inline="javascript">
            let articleName = /*[[${error_ArticleName}]]*/ '';
            alert("Not enough stock available for : " + articleName);
        </script>
    </div>
</body>
</html>
