<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Warenkorb</title>
</head>
<body>
    <section layout:fragment="content">
        <h1>Warenkorb</h1> <br>
            <form class="ui form" method="post" th:action="@{/checkout}">
                 <button type="submit" class="ui button" th:text="#{cart.buy}">Kaufen</button>
            </form> <br>
            <form class="ui form" method="post" th:action="@{/clear}">
                <button type="submit" class="ui button" th:text="#{cart.clear}">Warenkorb leeren</button> <br>
            </form><br>
            <form class="ui form" method="post" th:action="@{/cartAdd}">
                <button type="submit" class="ui button" th:text="#{cart.add}">Produkt hinzufügen</button>
            </form><br>
            <form class="ui form" method="post" th:action="@{/cartDelete}">
                <button type="submit" class="ui button" th:text="#{cart.delete}">Produkt entfernen</button>
             </form><br>
        <table class="ui celled table">
            <thead>
            <tr>
                <th>Titel</th>
                <th>Anzahl</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each=" item : ${cart}">
                <td th:text="${item.productName}"></td>
                <td th:text="${{item.quantity}}"></td>
            </tr>
            </tbody>
        </table>
    </section>
</body>
</html>