<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
    <title th:text="#{catalog.title}">Welcome2!</title>
</head>
<body>
<header>
    <h1 th:text="#{catalog.title}">Welcome!</h1>
</header>

<div class="container">
    <!-- Sidebar for filters -->
    <aside class="sidebar panel-effect">
        <h2>Provisorische NAV</h2>
        <ul class="small-nav">
            <li><button class="small-nav-tab-button" th:onclick="|location.href='@{/}'|">Home</button></li>
        </ul>
        <h2>Kategorien</h2>
        <ul class="small-nav">
            <li><button class="small-nav-tab-button active" th:onclick="|location.href='@{/books}'|">Bücher</button></li>
            <li><button class="small-nav-tab-button" th:onclick="|location.href='@{/calenders}'|">Kalender</button></li>
            <li><button class="small-nav-tab-button" th:onclick="|location.href='@{/merch}'|">Merch</button></li>
        </ul>

        <form method="get" th:action="@{/books}">
            <h2>Filter nach Genre</h2>
            <ul class="checkbox-list">
                <li th:each="genre : ${genres}">
                    <label>
                        <input type="checkbox" name="genres" th:value="${genre}"
                               th:checked="${selectedGenres != null and selectedGenres.contains(genre)}">
                        <span th:text="${genre}">Genre Name</span>
                    </label>
                </li>
            </ul>
            <button type="submit">Filter</button>
        </form>

    </aside>

    <!-- Book List -->
    <section class="product-catalog panel-effect">
        <div class="product-catalog-item" th:each="shopProduct : ${catalog}">
            <div class="image">
                <a th:href="@{/book/{id}(id=${shopProduct.productId})}">
                    <img class="thumbnail"
                         th:src="@{/resources/img/cover/{image}.jpg(image=${shopProduct.image ?: 'default'})}" />
                </a>
            </div>
            <div class="product-catalog-item-info">
                <a class="h3" th:href="@{/book/{id}(id=${shopProduct.productId})}" th:text="${shopProduct.name}">Book Title</a>
                <div class="text-base" th:text="${shopProduct.getBookGenre()} ?: 'Unknown Genre'">Unknown Genre</div>
                <div class="price text-medium-bold" th:text="${shopProduct.price}">9.99 €</div>
            </div>
        </div>
    </section>

</div>
</body>
</html>
