<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <title th:text="#{catalog.title}">Welcome2!</title>
</head>
<body>
<div th:replace="fragments/shop_navbar :: navbar"></div>
<header>
    <h1 th:text="#{catalog.title}">Welcome!</h1>
</header>

<div class="container">
    <!-- Sidebar for filters -->
    <aside class="sidebar panel-effect">
        <form method="get" th:action="@{/books}" class="mb-4">
            <div class="input-group">
                <input type="search" class="form-control" id="search" name="search" placeholder="Buchtitel suchen"
                       th:value="${search}">
                <button class="btn btn-primary" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
        <h2 th:text="#{catalog.navigation}">Navigation</h2>
        <ul class="small-nav">
            <li><button class="small-nav-tab-button" th:onclick="|location.href='@{/}'|" th:text="#{home.nav.home}">Home</button></li>
        </ul>
        <h2 th:text="#{catalog.categories}">Kategorien</h2>
        <ul class="small-nav">
            <li><button class="small-nav-tab-button active" th:onclick="|location.href='@{/books}'|" th:text="#{catalog.books}" >Bücher</button></li>
            <li><button class="small-nav-tab-button" th:onclick="|location.href='@{/calenders}'|" th:text="#{catalog.calender}">Kalender</button></li>
            <li><button class="small-nav-tab-button" th:onclick="|location.href='@{/merch}'|" th:text="#{catalog.merch}">Merch</button></li>
        </ul>

        <form method="get" th:action="@{/books}">
            <h2 th:text="#{catalog.sentences.filterGenre}">Filter nach Genre</h2>
            <ul class="checkbox-list">
                <li th:each="genre : ${genres}">
                    <label>
                        <input type="checkbox" name="genres" th:value="${genre}"
                               th:checked="${selectedGenres != null and selectedGenres.contains(genre)}">
                        <span th:text="${genre}">Genre Name</span>
                    </label>
                </li>
            </ul>
            <h2 th:text="#{catalog.sentences.sortPrice}">Sortieren nach Preis</h2>
            <select name="sort" class="form-select">
                <option value="" th:selected="${sort == null}" th:text="#{catalog.noSort}">Keine Sortierung</option>
                <option value="asc" th:selected="${sort == 'asc'}" th:text="#{catalog.sort.lowToHigh}">Preis: Niedrig zu Hoch</option>
                <option value="desc" th:selected="${sort == 'desc'}" th:text="#{catalog.sort.highToLow}">Preis: Hoch zu Niedrig</option>
            </select>
            <h2 th:text="#{catalog.sentences.filterPrice}">Filter nach Preis</h2>
            <div class="form-check">
                <label class="form-check-label" for="priceRangeAll">
                    <input type="radio" name="priceRange" id="priceRangeAll" th:value="all" th:checked="${priceMin == null && priceMax == null}" th:text="#{catalog.filter.allPrices}">
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="priceRange10">
                    <input type="radio" name="priceRange" id="priceRange10" th:value="under10" th:checked="${priceMax != null && priceMax == 10}" th:text="#{catalog.filter.under10}">
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="priceRange10to25">
                    <input type="radio" name="priceRange" id="priceRange10to25" th:value="10to25" th:checked="${priceMin == 10 && priceMax == 25}" th:text="#{catalog.filter.10to25}">
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="priceRange25">
                    <input type="radio" name="priceRange" id="priceRange25" th:value="over25" th:checked="${priceMin != null && priceMin == 25}" th:text="#{catalog.filter.over25}">
                </label>
            </div>
            <button class="btn btn-primary" type="submit">Filter</button>
        </form>
        <ul class="small-nav">
            <li><button class="small-nav-tab-button" th:onclick="|location.href='@{/cart}'|" th:text="#{home.nav.cart}">Warenkorb</button></li>
        </ul>

    </aside>

    <!-- Book List -->
    <section class="product-catalog panel-effect">
        <div class="product-catalog-item" th:each="shopProduct : ${catalog}">
            <div class="image">
                <a th:href="@{/book/{id}(id=${shopProduct.getId()})}">
                    <!-- This was changed, because every product has now the complete path-->
                    <img class="thumbnail"
                         th:src="@{${shopProduct.image}}"
                         src="../static/resources/img/cover/stephen.jpg"/>
                </a>
            </div>
            <div class="product-catalog-item-info">
                <a class="h3" th:href="@{/book/{id}(id=${shopProduct.productId})}" th:text="${shopProduct.name}">Book Title</a>
                <div class="text-base" th:each="genre : ${shopProduct.getBookGenres()}" th:text="${genre.getGenre()} ?: 'Unknown Genre'">Unknown Genre</div>
                <div class="price text-medium-bold" th:text="${shopProduct.price}">9.99 €</div>
            </div>
        </div>
    </section>

</div>
<div th:replace="fragments/achievementToast :: toast"></div>
</body>
</html>
