<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{customer.overview}">Customer Overview</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
</head>
<body>

<div sec:authorize="hasRole('ADMIN')">
    <div th:replace="fragments/admin_navbar :: navbar"></div>
</div>
<div sec:authorize="hasRole('EMPLOYEE')">
    <div th:replace="fragments/employee_navbar :: navbar"></div>
</div><header class="mt-5">
    <h1 class="text-center mb-4" th:text="#{customer.overview}">Customer Overview</h1>
</header>
<div class="container mt-5">
    <aside class="sidebar panel-effect col-md-4">
        <form class="ui form" method="post" th:action="@{/filterCustomers}">
            <div class="form-group">
                <div th:replace="fragments/dropdownOrderStates :: dropdownMenu"></div>
            </div>
            <div class="form-container my-4">
                <div class="form-group mt-3">
                    <label for="inputCustomerName" th:text="#{customers.nameForm}">Customer Name</label>
                    <input type="text" name="customerName" class="form-control" id="inputCustomerName" placeholder="Max Mustermann" th:value="${selectedProduct}">
                </div>
                <div class="form-group mt-3">
                    <label for="inputCustomerEmail" th:text="#{customers.nameForm}">Customer Name</label>
                    <input type="text" name="customerEmail" class="form-control" id="inputCustomerEmail" placeholder="customer@mail.com" th:value="${selectedProduct}">
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100">
                Filter
            </button>
        </form>
    </aside>
    <section class="container panel-effect">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                <tr>
                    <th scope="col" th:text="#{customers.id}">Customer ID</th>
                    <th scope="col" th:text="#{customers.fullName}">Full Name</th>
                    <th scope="col" th:text="#{customers.email}">E-Mail</th>
                    <th scope="col" th:text="#{customers.address}">Address</th>
                    <th scope="col" th:text="#{user.sinceDate}">Registration Date</th>
                    <th scope="col" colspan="3" th:text="#{user.edit}">Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.userAccount.id}">Cannot load ID!</td>
                    <td th:text="${customer.fullName}">Cannot load full name!</td>
                    <td th:text="${customer.email}">Cannot load email!</td>
                    <td th:text="${customer.address}">Cannot load address!</td>
                    <td th:text="${customer.registrationDate}">Cannot load date!</td>
                    <td>
                        <form th:action="@{/promote/{id}(id=${customer.userAccount.id})}" method="post">
                            <button type="submit" class="btn btn-success me-2" th:text="#{button.promote}">Promote</button>
                            <input type="hidden" name="source" th:value="'customer-overview'" />
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/degrade/{id}(id=${customer.userAccount.id})}" method="post" onsubmit="return confirmDegrade()">
                            <button type="submit" class="btn btn-danger" th:text="#{button.delete}">Delete</button>
                            <input type="hidden" name="source" th:value="'customer-overview'" />
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/account_edit/customer/{id}(id=${customer.userAccount.id})}" method="get">
                            <button type="submit" class="btn btn-dark" th:text="#{button.edit}">Edit details</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>

<!-- To confirm when deleting an account -->
<script>
    function confirmDegrade() {
        return confirm("This will permanently delete the account! Are you sure?");
    }
</script>

<!-- If url has parameter ?toastMessage= .. then this confirmation toast will populate -->
<div th:replace="fragments/confirmationToast :: toast"></div>


</body>
</html>
