<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{customer.overview}">Customer Overview</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
</head>
<body>

<div th:replace="fragments/admin_navbar :: navbar"></div>
<header class="mt-6">
    <h1 class="text-center mb-4" th:text="#{customer.overview}">Customer Overview</h1>
</header>

<div class="container mt-5">
    <section class="container panel-effect">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" th:text="#{customers.id}">Customer ID</th>
                    <th scope="col" th:text="#{customers.fullName}">Full Name</th>
                    <th scope="col" th:text="#{customers.email}">E-Mail</th>
                    <th scope="col" th:text="#{customers.role}">Role</th>
                    <th scope="col" th:text="#{customers.address}">Address</th>
                    <th scope="col" th:text="#{user.sinceDate}">Registration Date</th>
                    <th scope="col" th:text="#{user.edit}">Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.userAccount.id}">Cannot load ID!</td>
                    <td th:text="${customer.fullName}">Cannot load full name!</td>
                    <td th:text="${customer.email}">Cannot load email!</td>
                    <td th:text="${customer.highestRole}">Cannot load role!</td>
                    <td th:text="${customer.address}">Cannot load address!</td>
                    <td th:text="${customer.registrationDate}">Cannot load date!</td>
                    <td>
                        <form th:action="@{/promote/{id}(id=${customer.userAccount.id})}" method="post">
                            <button type="submit" class="btn btn-primary" th:text="#{button.promote}">Promote</button>
                            <input type="hidden" name="source" th:value="'customer-overview'" />
                        </form>
                        <form th:action="@{/degrade/{id}(id=${customer.userAccount.id})}" method="post">
                            <button type="submit" class="btn btn-danger" th:text="#{button.degrade}">Degrade</button>
                            <input type="hidden" name="source" th:value="'customer-overview'" />
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
