<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.name}">Book Title</title>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
</head>
<body>
<header>
    <h1 th:text="#{book.title}">Book</h1>
</header>
<div class="container">
    <aside class="sidebar panel-effect">
        <ul class="small-nav">
            <li><button class="small-nav-tab-button" th:onclick="|location.href='@{/}'|">Home</button></li>
            <li><button class="small-nav-tab-button active" th:onclick="|location.href='@{/books}'|">Bücher</button></li>
            <li><button class="small-nav-tab-button" th:onclick="|location.href='@{/calenders}'|">Kalender</button></li>
            <li><button class="small-nav-tab-button" th:onclick="|location.href='@{/merch}'|">Merch</button></li>
        </ul>
    </aside>
    <div class="panel-effect">
        <div class="two-column-container">
            <!-- Image Section -->
            <div class="left-column paddingContainer">
                <div class="product-details-image left-column">
                    <img th:src="@{/resources/img/cover/{image}.jpg(image=${book.image})}" alt="Book Cover">
                </div>
            </div>


            <!-- Book Information Section -->
            <div class="right-column paddingContainer product-details-info ">
                <h2 th:text="${book.name}">Book Title</h2>
                <p class="genre" th:text="'Author: ' + ${book.getAuthor()}">Author</p>
                <p class="genre" th:text="'ISBN: ' + ${book.getISBN}">Isbn</p>
                <p class="genre" th:text="'Genre: ' + ${book.getBookGenre()}">Genre: Genre Name</p>
                <p class="genre" th:text="${book.description}">Description</p>
                <p class="price" th:text="${book.price}">9.99 €</p>

                <!-- Add to Cart Button -->
                <form class="ui form" method="post" th:action="@{/cartAdd}" onsubmit="showMessage()">
                    <label for="amount" th:text="#{catalog.amount}">Menge:</label>
                    <input type="number" id="amount" name="amount" min="1" max="10" step="1" value="1">
                    <input type="hidden" name="productId" th:value="${book.getId()}"/>
                    <button type="submit" class="my-cool-button">In den Warenkorb</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function showMessage() {
        alert("Buch zum Warenkorb hinzugefügt!");
    }
</script>

</body>
</html>
