<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.name}">Book Title</title>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
</head>
<body>
<header>
    <h1>Book</h1>
</header>
<div class="container">
    <div class="panel-effect">
        <div class="two-column-container">
            <!-- Image Section -->
            <div class="left-column paddingContainer">
                <div class="product-details-image left-column">
                    <img th:src="@{/resources/img/cover/{image}.jpg(image=${book.image})}" alt="Book Cover">
                </div>
            </div>


            <!-- Book Information Section -->
            <div class="right-column paddingContainer product-details-info ">
                <h2 th:text="${book.name}">Book Title</h2>
                <p class="genre" th:text="'Genre: ' + ${book.genre}">Genre: Genre Name</p>
                <p class="price" th:text="${book.price}">9.99 €</p>

                <!-- Add to Cart Button -->
                <div class="actions">
                    <button class="my-cool-button">In den Warenkorb</button>
                </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>
