<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${calender.name}">Calender Title</title>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
</head>
<body>
<header>
    <h1>Calender</h1>
</header>
<div class="container">
    <div class="panel-effect">
        <div class="two-column-container">
            <!-- Image Section -->
            <div class="left-column paddingContainer">
                <div class="product-details-image left-column">
                    <img th:src="@{/resources/img/cover/{image}.jpg(image=${calender.image})}" alt="Calender Cover">
                </div>
            </div>


            <!-- Book Information Section -->
            <div class="right-column paddingContainer product-details-info ">
                <h2 th:text="${calender.name}">Book Title</h2>
                <p class="price" th:text="${calender.price}">9.99 €</p>

                <!-- Add to Cart Button -->
                <form class="ui form" method="post" th:action="@{/cartAdd}" onsubmit="showMessage()">
                    <input type="hidden" name="productId" th:value="${calender.getId()}"/>
                    <button type="submit" class="my-cool-button">In den Warenkorb</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function showMessage() {
        alert("Kalender zum Warenkorb hinzugefügt!");
    }
</script>

</body>
</html>
