<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${merch.name}">Merch Title</title>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
</head>
<body>
<header>
    <h1 th:text="#{merch.title}">Merch</h1>
</header>
<div class="container">
    <aside class="sidebar panel-effect">
        <ul class="small-nav">
            <li><button class="small-nav-tab-button" th:onclick="|location.href='@{/}'|">Home</button></li>
            <li><button class="small-nav-tab-button" th:onclick="|location.href='@{/books}'|">Bücher</button></li>
            <li><button class="small-nav-tab-button" th:onclick="|location.href='@{/calenders}'|">Kalender</button></li>
            <li><button class="small-nav-tab-button active" th:onclick="|location.href='@{/merch}'|">Merch</button></li>
        </ul>
    </aside>
    <div class="panel-effect">
        <div class="two-column-container">
            <!-- Image Section -->
            <div class="left-column paddingContainer">
                <div class="product-details-image left-column">
<!--                               /resources/img/cover/schmeh.jpg-->
                    <img th:src="@{/resources/img/cover/{image}.jpg(image=${merch.getImage()})}" alt="Merch Cover">
                </div>
            </div>


            <!-- Book Information Section -->
            <div class="right-column paddingContainer product-details-info ">
                <h2 class="genre" th:text="${merch.name}">Book Title</h2>
                <p class="genre" th:text="${merch.description}">Description</p>
                <p class="price" th:text="${merch.price}">9.99 €</p>

                <!-- Add to Cart Button -->
                <form class="ui form" method="post" th:action="@{/cartAdd}" onsubmit="showMessage()">
                    <input type="hidden" name="productId" th:value="${merch.getId()}"/>
                    <button type="submit" class="my-cool-button">In den Warenkorb</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function showMessage() {
        alert("Merch Artikel zum Warenkorb hinzugefügt!");
    }
</script>


</body>
</html>
