<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Inventory List</title>
    </head>
    <body>
        <p>Hola</p>
        <ul>
            <li th:each="item : ${test}">
                Hello <span th:text="${item}"></span>!
            </li>
        </ul>
        <table>
            <tr>
                <th>Name</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
            <tr th:each="item : ${merch}">
                <td th:text="${item.product.name}">Name</td>
                <td th:text="${item.quantity}">Name</td>
                <td th:text="${item.product.price}">Price</td>
                <td th:text="${item.product.description}">Description</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Name</th>
                <th>Stock</th>
                <th>Image</th>
                <th>Price</th>
                <th>Description</th>
                <th>Genre</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Publisher</th>
                <th>Stock</th>
            </tr>
            <tr th:each="book : ${books}">
                <td th:text="${book.product.name}"></td>
                <td th:text="${book.quantity}"></td>
                <td th:text="${book.product.image}"></td>
                <td th:text="${book.product.price}"></td>
                <td th:text="${book.product.description}"></td>
<!--                <td th:text="${book.product.book.genre}"></td>-->
<!--                <td th:text="${book.product.author}"></td>-->
<!--                <td th:text="${book.product.ISBN}"></td>-->
<!--                <td th:text="${book.product.publisher}"></td>-->
            </tr>
        </table>
        <table>
            <tr>
                <th>Name</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
            <tr th:each="item : ${calendars}">
                <td th:text="${item.product.name}">Name</td>
                <td th:text="${item.quantity}">Stock</td>
                <td th:text="${item.product.price}">Price</td>
                <td th:text="${item.product.description}">Description</td>
            </tr>
        </table>
    </body>
</html>



