<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar Inventory</title>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
</head>
<body>
<header>
    <h1>Inventory Lists</h1>
</header>
<div class="container">
    <aside class="sidebar panel-effect">
        <button class="small-nav-tab-button" th:onclick="|location.href='@{/}'|">Back to Welcome</button>
        <ul class="small-nav">
            <li><button class="small-nav-tab-button" th:onclick="|location.href='@{/inventory_book}'|">Book List</button></li>
            <li><button class="small-nav-tab-button" th:onclick="|location.href='@{/inventory_merch}'|">Merch List</button></li>
            <li><button class="small-nav-tab-button active" th:onclick="|location.href='@{/inventory_calendar}'|">Calendar List</button></li>
        </ul>
    </aside>
<table class="product-catalog panel-effect">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Image</th>
        <th>Stock</th>
    </tr>
    <tr th:each="calendar : ${calendars}">
        <td th:text="${calendar.getKey().name}">Name</td>
        <td th:text="${calendar.getKey().price}">Price</td>
        <td th:text="${calendar.getKey().description}">Description</td>
        <td th:text="${calendar.getKey().image}">Image</td>
        <td th:text="${calendar.getValue()}">Stock</td>
        <td>
            <form th:action="@{/inventory/update}" method="post">
                <input type="hidden" name="itemId" th:value="${calendar.getKey().id}" />
                <button type="submit">Update Quantity</button>
            </form>
        </td>
    </tr>
</table>
</div>
</body>
</html>