<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop Inventory</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        img {
            max-width: 100px;
            height: auto;
        }
    </style>
</head>
<body>
<h1>Shop Inventory</h1>

<table>
    <thead>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Genre</th>
        <th>Type</th>
        <th>Inventory</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td>
            <img th:src="@{'/images/' + ${product.image}}" alt="Product Image"/>
        </td>
        <td th:text="${product.name}">Product Name</td>
        <td th:text="${product.price}">Price</td>
        <td th:text="${product.genre.name}">Genre</td>
        <td th:text="${product.productType}">Type</td>
        <td>
            <a th:href="@{/inventory/edit/{id}(id=${product.id})}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>

<!--/*titulo, agregar - quitar, tipo de producto, editar toda la info.