<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Inventory List</title>
        <link rel="stylesheet" th:href="@{/resources/css/inventory_style.css}">
    </head>
    <body>
        <h1>Inventory Lists</h1>
        <button th:onclick="|location.href='@{/}'|">Back to Welcome</button>
        <ul>
            <li><button th:onclick="|location.href='@{/inventory_book}'|">Book List</button></li>
            <li><button th:onclick="|location.href='@{/inventory_merch}'|">Merch List</button></li>
            <li><button th:onclick="|location.href='@{/inventory_calendar}'|">Calendar List</button></li>

        </ul>
        <button id="openForm">Add New Book</button>
        <table>
            <tr>
                <th>Name</th>
                <th>Stock</th>
                <th>Image</th>
                <th>Price</th>
                <th>Description</th>
                <th>Genre</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Publisher</th>
            </tr>
            <tr th:each="book : ${books}">
                <td th:text="${book.getKey().name}"></td>
                <td th:text="${book.getValue()}"></td>
                <td th:text="${book.getKey().image}"></td>
                <td th:text="${book.getKey().price}"></td>
                <td th:text="${book.getKey().description}"></td>
                <td th:text="${book.getKey().getBookGenre()}"></td>
                <td th:text="${book.getKey().author}"></td>
                <td th:text="${book.getKey().ISBN}"></td>
                <td th:text="${book.getKey().publisher}"></td>
                <td>
                    <form th:action="@{/inventory/update}" method="post">
                        <input type="hidden" name="itemId" th:value="${book.getKey().id}" />
                        <button type="submit">Update Quantity</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/inventory/edit}" method="post">
                        <label for="newName"></label><input type="text" id="newName" name="newName" placeholder="Enter Name" />
                        <input type="hidden" name="itemId" th:value="${book.getKey().id}" />
                        <span th:if="${edit_error}" th:text="${edit_error}">Name can not be blank</span>
                        <button type="submit">Change name</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/inventory/delete}" method="post">
                        <input type="hidden" name="itemId" th:value="${book.getKey().id}" />
                        <button type="submit">Delete Item :(</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/inventory/editable}" method="post">
                        <input type="hidden" name="itemId" th:value="${book.getKey().id}" />
                        <button type="submit">EDIT</button>
                    </form>
                </td>
            </tr>
        </table>
        <!-- Adding a table to insert new Books-->
        <div id="addNewBook" class="modal">
            <div class="modal-content">
                <span id="close" class="close">&times;</span>
                <h1>Add New Book</h1>
                <form th:action="@{/inventory/add_book}" method="post">
                    <label for="name"></label>
                    <input type="text" id="name" name="name" placeholder="Enter Name" required/>
                        <span th:if="${blankName_error}" th:text="${blankName_error}">Name can not be blank</span>

                    <label for="stock"></label><input type="number" id="stock" name="stock" placeholder="Enter Stock" required/>
                        <span th:if="${negativeStock_error}" th:text="${negativeStock_error}">Stock can not be blank</span>

                    <label for="image"></label><input type="text" id="image" name="image" placeholder="Enter Image" required/>
                    <span th:if="${blankImage_error}" th:text="${blankImage_error}">Image can not be blank</span>

                    <label for="price"></label><input type="number" id="price" name="price" placeholder="Enter Price" required/>
                    <span th:if="${negativePrice_error}" th:text="${negativePrice_error}">Price can not be blank</span>

                    <label for="description"></label><input type="text" id="description" name="description" placeholder="Enter Description" required/>
                    <span th:if="${blankDescription_error}" th:text="${blankDescription_error}">Description can not be blank</span>


                    <label for="author"></label><input type="text" id="author" name="author" placeholder="Enter Author" required/>
                    <span th:if="${blankAuthor_error}" th:text="${blankAuthor_error}">Author can not be blank</span>

<!--                    TODO: add the checker for the genre -->
                    <label for="genre"></label><input type="text" id="genre" name="genre" placeholder="Enter Genre" required/>

                    <label for="ISBN"></label><input type="text" id="ISBN" name="ISBN" placeholder="Enter ISBN" required/>
                    <span th:if="${blankISBN_error}" th:text="${blankISBN_error}">ISBN can not be blank</span>

                    <label for="publisher"></label><input type="text" id="publisher" name="publisher" placeholder="Enter Publisher" required/>
                    <span th:if="${blankPublisher_error}" th:text="${blankPublisher_error}">Publisher can not be blank</span>

                    <div class="modal-footer">
                        <button class="add-book_button" type="submit">Add Book</button>
                    </div>
                </form>
            </div>

        </div>

    <script th:inline="javascript">
        const modal = document.getElementById('addNewBook');
        const open = document.getElementById('openForm');
        const close = document.getElementById('close');

        open.onclick = function (){
            modal.style.display = 'block';
        }

        close.onclick = function (){
            modal.style.display = 'none';
        }

        document.addEventListener("DOMContentLoaded", function (){
            if([[${showModal}]]) {
                modal.style.display = 'block';
            }
        });
    </script>
    </body>
</html>



