<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
</head>
<body>
<div th:replace="fragments/shop_navbar :: navbar"></div>

<div th:if="${bookForm != null}">
    <header>
        <h1>Editing Book</h1>
    </header>
    <div class="container">
        <aside class="sidebar panel-effect">
            <ul class="small-nav">
                <li><button th:text="#{home.nav.home}" class="small-nav-tab-button" th:onclick="|location.href='@{/}'|">Home</button></li>
                <li><button th:text="#{inventory.back}" class="small-nav-tab-button" th:onclick="|location.href='@{/inventory_book}'|">Back</button></li>
            </ul>
        </aside>
        <section class="right-view panel-effect">
            <form th:action="@{/inventory/save_book/{id}(id=${productId})}" th:object="${bookForm}" method="post" enctype="multipart/form-data">
                <table>
                    <tr>
                        <th>Name</th>
                        <td th:text="${bookForm.name}"></td>
                        <td>
                            <label>
                                <input type="text" name="name" th:field="*{name}" placeholder="Enter new name" />
                            </label>
                            <!-- Display error message did not work the 'conventional way' as in inventory_book -->
                            <span th:each="error : ${fieldErrors}"
                                  th:if="${error.field == 'name'}"
                                  th:text="${error.defaultMessage}">
                            </span>

                        </td>
                    </tr>
                    <tr>
                        <th>Image</th>
                        <td th:text="${bookForm.image}"></td>
                        <td>
                            <label for="imageFile">
                                <input type="file" id="imageFile" accept=".jpg" name="imageFile" onchange="returnImageNameBook()"/>
                                <input type="hidden" id="imageName" name="imageName" th:field="*{image}" required/>
                            </label>
                            <span th:each="error : ${fieldErrors}"
                                  th:if="${error.field == 'image'}"
                                  th:text="${error.defaultMessage}">
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td th:text="${bookForm.description}"></td>
                        <td>
                            <label>
                                <textarea name="description"  placeholder="Enter new description" rows="4" cols="20" th:text="*{description}"></textarea>
                            </label>
                            <span th:each="error : ${fieldErrors}"
                                  th:if="${error.field == 'description'}"
                                  th:text="${error.defaultMessage}">
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>Genres</th>
                        <td>
                            <ul>
                                <!-- Each genre is a string here -->
                                <li th:each="genre : ${bookForm.getGenre()}">
                                    <span th:text="${genre}"></span>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <label>
                                <select name="genre[]" multiple>
                                    <option th:each="bookGenre : ${bookGenres}"
                                            th:value="${bookGenre.getGenre()}"
                                            th:text="${bookGenre.getGenre()}"
                                            th:selected="${bookForm.getGenre().contains(bookGenre)}">
                                    </option>
                                </select>
                            </label>
                            <span th:each="error : ${fieldErrors}"
                                  th:if="${error.field == 'genre'}"
                                  th:text="${error.defaultMessage}">
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>Author</th>
                        <td th:text="${bookForm.author}"></td>
                        <td>
                            <label>
                                <input type="text" name="author" th:field="*{author}" placeholder="Enter new author" />
                            </label>
                            <span th:each="error : ${fieldErrors}"
                                  th:if="${error.field == 'author'}"
                                  th:text="${error.defaultMessage}">
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>ISBN</th>
                        <td th:text="${bookForm.ISBN}"></td>
                        <td>
                            <label>
                                <input type="text" name="ISBN" th:field="*{ISBN}" placeholder="Enter new ISBN" />
                            </label>
                            <span th:each="error : ${fieldErrors}"
                                  th:if="${error.field == 'ISBN'}"
                                  th:text="${error.defaultMessage}">
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>Publisher</th>
                        <td th:text="${bookForm.publisher}"></td>
                        <td>
                            <label>
                                <input type="text" name="publisher" th:field="*{publisher}" placeholder="Enter new publisher" />
                            </label>
                            <span th:each="error : ${fieldErrors}"
                                  th:if="${error.field == 'publisher'}"
                                  th:text="${error.defaultMessage}">
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td th:text="${bookForm.price}"></td>
                        <td>
                            <label>
                                <input type="number" name="price" th:field="*{price}" placeholder="Enter new price" />
                            </label>
                            <span th:each="error : ${fieldErrors}"
                                  th:if="${error.field == 'price'}"
                                  th:text="${error.defaultMessage}">
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>Stock</th>
                        <td th:text="${bookForm.stock}"></td>
                        <td>
                            <label>
                                <input type="number" name="stock" th:field="*{stock}" placeholder="Enter new stock" />
                            </label>
                            <span th:each="error : ${fieldErrors}"
                                  th:if="${error.field == 'stock'}"
                                  th:text="${error.defaultMessage}">
                            </span>
                        </td>

                </table>
                <button type="submit">Save Changes</button>
            </form>
        </section>
    </div>
</div>
<div class="shadowbox" th:if="${calendarForm != null}">
    <header>
        <h1>Editing Calendar</h1>
    </header>
    <div class="container">
        <aside class="sidebar panel-effect">
            <ul class="small-nav">
                <li><button th:text="#{home.nav.home}" class="small-nav-tab-button" th:onclick="|location.href='@{/}'|">Home</button></li>
                <li><button th:text="#{inventory.back}" class="small-nav-tab-button" th:onclick="|location.href='@{/inventory_calendar}'|">Back</button></li>
            </ul>
        </aside>
        <section class="right-view panel-effect">
            <form th:action="@{/inventory/save_calendar/{id}(id=${productId})}" th:object="${calendarForm}" method="post" enctype="multipart/form-data">
                <table>
                    <tr>
                        <th>Name</th>
                        <td th:text="${calendarForm.name}"></td>
                        <td>
                            <label>
                                <input type="text" name="name" th:field="*{name}" placeholder="Enter new name" />
                            </label>
                            <!-- Display error message did not work the 'conventional way' as in inventory_book -->
                            <span th:each="error : ${fieldErrors}"
                                  th:if="${error.field == 'name'}"
                                  th:text="${error.defaultMessage}">
                            </span>

                        </td>
                    </tr>
                    <tr>
                        <th>Image</th>
                        <td th:text="${calendarForm.image}"></td>
                        <td>
                            <label for="imageFile">
                                <input type="file" id="imageFileCalendar" accept=".jpg" name="imageFileCalendar" onchange="returnImageNameCalendar()"/>
                                <input type="hidden" id="imageNameCalendar" name="imageNameCalendar" th:field="*{image}" required/>
                            </label>
                            <span th:each="error : ${fieldErrors}"
                                  th:if="${error.field == 'image'}"
                                  th:text="${error.defaultMessage}">
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td th:text="${calendarForm.description}"></td>
                        <td>
                            <label>
                                <textarea name="description"  placeholder="Enter new description" rows="4" cols="20" th:text="*{description}"></textarea>
                            </label>
                            <span th:each="error : ${fieldErrors}"
                                  th:if="${error.field == 'description'}"
                                  th:text="${error.defaultMessage}">
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td th:text="${calendarForm.price}"></td>
                        <td>
                            <label>
                                <input type="number" name="price" th:field="*{price}" placeholder="Enter new price" />
                            </label>
                            <span th:each="error : ${fieldErrors}"
                                  th:if="${error.field == 'price'}"
                                  th:text="${error.defaultMessage}">
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>Stock</th>
                        <td th:text="${calendarForm.stock}"></td>
                        <td>
                            <label>
                                <input type="number" name="stock" th:field="*{stock}" placeholder="Enter new stock" />
                            </label>
                            <span th:each="error : ${fieldErrors}"
                                  th:if="${error.field == 'stock'}"
                                  th:text="${error.defaultMessage}">
                            </span>
                        </td>

                </table>
                <button type="submit">Save Changes</button>
            </form>
        </section>
    </div>
</div>

<div th:if="${merchForm != null}">
    <header>
        <h1>Editing Merchandise</h1>
    </header>
    <div class="container">
        <aside class="sidebar panel-effect">
            <ul class="small-nav">
                <li><button th:text="#{home.nav.home}" class="small-nav-tab-button" th:onclick="|location.href='@{/}'|">Home</button></li>
                <li><button th:text="#{inventory.back}" class="small-nav-tab-button" th:onclick="|location.href='@{/inventory_merch}'|">Back</button></li>
            </ul>
        </aside>
        <section class="right-view panel-effect">
            <form th:action="@{/inventory/save_merch/{id}(id=${productId})}" th:object="${merchForm}" method="post" enctype="multipart/form-data">
                <table>
                    <tr>
                        <th>Name</th>
                        <td th:text="${merchForm.name}"></td>
                        <td>
                            <label>
                                <input type="text" name="name" th:field="*{name}" placeholder="Enter new name" />
                            </label>
                            <!-- Display error message did not work the 'conventional way' as in inventory_book -->
                            <span th:each="error : ${fieldErrors}"
                                  th:if="${error.field == 'name'}"
                                  th:text="${error.defaultMessage}">
                            </span>

                        </td>
                    </tr>
                    <tr>
                        <th>Image</th>
                        <td th:text="${merchForm.image}"></td>
                        <td>
                            <label for="imageFile">
                                <input type="file" id="imageFileMerch" accept=".jpg" name="imageFileMerch" onchange="returnImageNameMerch()"/>
                                <input type="hidden" id="imageNameMerch`" name="imageNameMerch" th:field="*{image}" required/>
                            </label>
                            <span th:each="error : ${fieldErrors}"
                                  th:if="${error.field == 'image'}"
                                  th:text="${error.defaultMessage}">
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td th:text="${merchForm.description}"></td>
                        <td>
                            <label>
                                <textarea name="description"  placeholder="Enter new description" rows="4" cols="20" th:text="*{description}"></textarea>
                            </label>
                            <span th:each="error : ${fieldErrors}"
                                  th:if="${error.field == 'description'}"
                                  th:text="${error.defaultMessage}">
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td th:text="${merchForm.price}"></td>
                        <td>
                            <label>
                                <input type="number" name="price" th:field="*{price}" placeholder="Enter new price" />
                            </label>
                            <span th:each="error : ${fieldErrors}"
                                  th:if="${error.field == 'price'}"
                                  th:text="${error.defaultMessage}">
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>Stock</th>
                        <td th:text="${merchForm.stock}"></td>
                        <td>
                            <label>
                                <input type="number" name="stock" th:field="*{stock}" placeholder="Enter new stock" />
                            </label>
                            <span th:each="error : ${fieldErrors}"
                                  th:if="${error.field == 'stock'}"
                                  th:text="${error.defaultMessage}">
                            </span>
                        </td>

                </table>
                <button type="submit">Save Changes</button>
            </form>
        </section>
    </div>
</div>
</body>
<script>
    function returnImageNameBook(){
        const fileInput = document.getElementById('imageFile');
        const hiddenName = document.getElementById('imageName');
        if(fileInput.files.length>1){
            hiddenName.value = fileInput.files[0].name;
        }
    }

    function returnImageNameCalendar(){
        const fileInput = document.getElementById('imageFileCalendar');
        const hiddenName = document.getElementById('imageNameCalendar');
        if(fileInput.files.length>1){
            hiddenName.value = fileInput.files[0].name;
        }
    }

    function returnImageNameMerch(){
        const fileInput = document.getElementById('imageFileMerch');
        const hiddenName = document.getElementById('imageNameMerch`');
        if(fileInput.files.length>1){
            hiddenName.value = fileInput.files[0].name;
        }
    }
</script>
</html>