<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{order.overview}">Order overview</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center mb-4">Order overview
        <!-- Block-Container für Formular -->
        <div class="form-container my-4">
            <form class="ui form" method="post" th:action="@{/filterByStatus}">
                <div class="form-group">
                    <label for="dropdown_status">Status:</label>
                    <select id="dropdown_status" name="valueStatus" class="form-control">
                        <option value="ALL">alle</option>
                        <option value="OPEN">offen</option>
                        <option value="PAID">bezahlt</option>
                        <option value="COMPLETED">abgeschlossen</option>
                    </select>
                </div>
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary">Filtern</button>
                </div>
            </form>
        </div>
    </h2><br>

        <section>
        <div class="table-responsive">
            <section layout:fragment="content">
                <div th:unless="${orderList.isEmpty()}">
                    <table class="ui celled table">
                        <thead>
                        <tr>
                            <th th:text="#{orders.date}">Datum</th>
                            <th th:text="#{orders.customerId}">Kunde</th>
                            <th th:text="#{orders.price}">Bestellwert</th>
                            <th th:text="#{orders.paymentMethod}">Bezahlmethode</th>
                            <th th:text="#{orders.state}">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order : ${orderList}">
                            <td th:text="${#temporals.format(order.getDateCreated(), 'dd.MM.yyyy HH:mm')}"></td>
                            <td th:text="${order.getUserAccountIdentifier()}"></td>
                            <td th:text="${order.getTotal()}"></td>
                            <td th:text="${order.getStringPaymentMethod()}"></td>
                            <td th:text="${order.getMyOrderStatus()}"></td>
                            <td>
                                <form class="ui form" method="post" th:action="@{/changeStatus}">
                                    <input type="hidden" name="orderId" th:value="${order.getId()}"/>
                                    <button type="submit" class="btn btn-primary">Status ändern</button>
                                </form>
                            </td>
                            <td>
                                <form class="ui form" method="post" th:action="@{/showProducts}">
                                    <input type="hidden" name="orderId" th:value="${order.getId()}"/>
                                    <button type="submit" class="btn btn-danger">Produkte anzeigen</button>
                                </form>
                            </td>
                            <td>
                                <form class="ui form" method="post" th:action="@{/deleteOrder}">
                                    <input type="hidden" name="orderId" th:value="${order.getId()}"/>
                                    <button type="submit" class="btn btn-danger">Bestellung entfernen</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <h2 th:if="${orderList.isEmpty()}" th:text="#{orders.empty}">Derzeit keine Bestellungen</h2>
            </section>

            <!-- Admin Navigator -->
            <a th:href="@{/admin-overview}" class="btn btn-primary" th:text="#{admin.overview}">Admin Overview</a>
            <a th:href="@{/employee-overview}" class="btn btn-primary" th:text="#{employee.overview}">Employee Overview</a>
            <a th:href="@{/customer-overview}" class="btn btn-primary" th:text="#{customer.overview}">Customer Overview</a>
            <a th:href="@{/finance-overview}" class="btn btn-primary" th:text="#{finance.overview}">Fincance Overview</a>
            <a th:href="@{/order-overview}" class="btn btn-primary" th:text="#{order.overview}">Order Overview</a>
        </div>
    </section>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
