<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{order.overview}">Order overview</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
</head>
<body>

<div sec:authorize="hasRole('ADMIN')">
    <div th:replace="fragments/admin_navbar :: navbar"></div>
</div>
<div sec:authorize="hasRole('EMPLOYEE')">
    <div th:replace="fragments/employee_navbar :: navbar"></div>
</div>

<div class="container mt-5">
    <h2 class="text-center mb-4" th:text="#{order.overview}">Order overview
        <div class="form-container my-4">
            <form class="ui form" method="post" th:action="@{/filterByProduct}">
                <div class="form-group mt-3">
                    Produktname:
                    <input type="text" name="productName"/>
                    ProduktID:
                    <input type="text" name="productId"/>
                    <button type="submit" class="btn btn-primary">Filtern</button>
                </div>
            </form>
        </div>
    </h2><br>

    <section>
        <div class="table-responsive">
            <section layout:fragment="content">
                <div th:unless="${orderList.isEmpty()}">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th th:text="#{orders.date}">Datum</th>
                            <th th:text="#{orders.customerId}">Kunde</th>
                            <th th:text="#{orders.price}">Bestellwert</th>
                            <th th:text="#{orders.paymentMethod}">Bezahlmethode</th>
                            <th th:text="#{orders.state}">Status</th>
                            <th scope="col" colspan="2" th:text="#{user.edit}">Aktionen</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order : ${orderList}">
                            <td th:text="${#temporals.format(order.getDateCreated(), 'dd.MM.yyyy HH:mm')}"></td>
                            <td th:text="${order.getUserAccountIdentifier()}"></td>
                            <td th:text="${order.getTotal()}"></td>
                            <td th:text="${order.getStringPaymentMethod()}"></td>
                            <td th:text="${order.getMyOrderStatus()}"></td>
                            <td>
                                <form class="ui form" method="post" th:action="@{'/order/' + ${order.id}}">
                                    <input type="hidden" name="orderId" th:value="${order.getId()}"/>
                                    <button type="submit" class="btn btn-primary">Details</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <h2 th:if="${orderList.isEmpty()}" th:text="#{orders.empty}">Derzeit keine Bestellungen</h2>
            </section>
        </div>
    </section>

</div>
<div class="form-container my-4">
    <form class="ui form" method="post" th:action="@{/filterByStatus}">
        <div class="form-group">
            <label for="dropdown_status">Status:</label>
            <select id="dropdown_status" name="valueStatus" class="form-control">
                <option th:each="state : ${orderStates}"
                        th:value="${state}"
                        th:text="${state}"
                        th:selected="${state == selectedState}">
                </option>
            </select>
        </div>
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Filtern</button>
        </div>
    </form>
    <form class="ui form" method="post" th:action="@{/filterByProduct}">
        <div class="form-group mt-3">
            Produktname:
            <input type="text" name="productName"/>
            ProduktID:
            <input type="text" name="productId"/>
            <button type="submit" class="btn btn-primary">Filtern</button>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
