<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{order.overview}">Order overview</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
</head>
<body>

<div th:replace="fragments/admin_navbar :: navbar"></div>

<div class="container mt-5">
    <h2 class="text-center mb-4" th:text="#{order.overview}">Order Overview</h2>

    <div class="form-container my-4">
        <form class="ui form" method="post" th:action="@{/filterByStatus}">
            <div class="form-group">
                <label for="dropdown_status">Status:</label>
                <select id="dropdown_status" name="valueStatus" class="form-control">
                    <option value="ALL">alle</option>
                    <option value="OPEN">offen</option>
                    <option value="PAID">bezahlt</option>
                    <option value="COMPLETED">abgeschlossen</option>
                </select>
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Filtern</button>
            </div>
        </form>
    </div>

    <section>
        <div class="table-responsive">
            <section layout:fragment="content">
                <div th:unless="${orderList.isEmpty()}">
                    <table class="table table-bordered table-hover" th:each="order : ${orderList}">
                        <thead class="thead-dark">
                        <tr>
                            <th th:text="#{order.id}">Order ID</th>
                            <th th:text="#{orders.date}">Datum</th>
                            <th th:text="#{orders.customerId}">Kunde</th>
                            <th th:text="#{orders.price}">Bestellwert</th>
                            <th th:text="#{orders.paymentMethod}">Bezahlmethode</th>
                            <th th:text="#{orders.state}">Status</th>
                            <th scope="col" colspan="3" th:text="#{user.edit}">Aktionen</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${order.id}">ID</td>
                            <td th:text="${#temporals.format(order.getDateCreated(), 'dd.MM.yyyy HH:mm')}"></td>
                            <td th:text="${order.getUserAccountIdentifier()}"></td>
                            <td th:text="${order.getTotal()}"></td>
                            <td th:text="${order.getStringPaymentMethod()}"></td>
                            <td th:text="${order.getMyOrderStatus()}"></td>
                            <td>
                                <form class="ui form" method="post" th:action="@{/changeStatus}">
                                    <input type="hidden" name="orderId" th:value="${order.getId()}"/>
                                    <button type="submit" class="btn btn-primary">Status ändern</button>
                                </form>
                            </td>
                            <td>
                                <form class="ui form" method="post" th:action="@{/showProducts}">
                                    <input type="hidden" name="orderId" th:value="${order.getId()}"/>
                                    <button type="submit" class="btn btn-danger">Produkte anzeigen</button>
                                </form>
                            </td>
                            <td>
                                <form class="ui form" method="post" th:action="@{/deleteOrder}">
                                    <input type="hidden" name="orderId" th:value="${order.getId()}"/>
                                    <button type="submit" class="btn btn-danger">Bestellung entfernen</button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="8">
                                <table class="table table-bordered table-hover">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>Produkte</th>
                                        <th>Anzahl</th>
                                        <th>Preis</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="orderLine : ${order.getOrderLines().toList()}">
                                        <td th:text="${orderLine.getProductName()}"></td>
                                        <td th:text="${orderLine.getQuantity()}"></td>
                                        <td th:text="${orderLine.getPrice()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <h2 th:if="${orderList.isEmpty()}" th:text="#{orders.empty}">Derzeit keine Bestellungen</h2>
            </section>
        </div>
    </section>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
