<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text="#{customer.overview}">Kundenübersicht</title>
        <link rel="stylesheet" th:href="@{/resources/css/style.css}">
    </head>
    <body>
        <section>
            <table class="ui celled table">
                <thead>
                <tr>
                    <th th:text="#{customers.id}">ID</th>
                    <th th:text="#{customers.address}">Anschrift</th>
                </tr>
                </thead>
                <tbody th:remove="all-but-first">
                <tr th:each=" customer : ${customers}">
                    <td th:text="${customer.userAccount.id}">Id</td>
                    <td th:text="${customer.address}">Nöthnitzer Straße 46</td>
                </tr>
                </tbody>
            </table>
        </section>
    </body>
</html>